.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  border-bottom: 1px solid rgb(229, 229, 229);
}
@media screen and (max-width: 768px){
.accordion {
  margin-top: 0;
}
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 4rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
}

.page-careers .accordion__title {
  font-size:19.2px;
}

.accordion .svg-wrapper {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1rem;
  word-break: break-word;
  overflow-x: auto;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}

/* Delivery accordion */
.delivery__toggle {
  all: unset;
  display: flex;
  align-items: center;
}

.delivery__text .dropdown-arrow {
  margin-left: 1em;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 8px solid #595959;
  transition: .3s;
  margin-top: .3em;
}

.delivery__text:not(.is-open) .dropdown-arrow, 
.delivery__text:not(.is-open) .delivery__toggle { 
  display: none; 
}

.delivery__text:not(.is-open) .delivery__toggle {
  pointer-events: none; 
}

.delivery__text.is-open .delivery__toggle {
  cursor: pointer; 
}

.delivery__text.is-open .delivery__toggle:focus-visible {
  outline: 2px solid currentColor; 
}

.dropdown-arrow {
  transition: transform 0.2s; 
}

.delivery__toggle[aria-expanded="true"] .dropdown-arrow {
  transform: rotate(180deg); 
}