.blog-articles {
  display: grid;
  grid-gap: 1rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}

.blog-articles .card-wrapper {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }

  /* .blog-articles--collage > *:nth-child(3n + 1),
  .blog-articles--collage > *:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .card,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .card {
    text-align: center;
  } */

  /* .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio::before {
    padding-bottom: 22rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 44rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 66rem;
  } */
}

@media screen and (min-width: 990px) {
  /* .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio .ratio::before {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 55rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 82.5rem;
  } */
}


/* custom css */
.main-blog.page-width{
  max-width:1074px; 
}
.blog-articles{
  grid-template-columns: 1fr 1fr 1fr;
}
.main-blog .title__main-wrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.main-blog .title__inside-wrapper{
  display: flex;
  align-items: center;
  color: #4d4d4c;
  font-size: 15.6px;
  gap: 5px;
}
.main-blog .title--primary{
  margin:0;
  font-size:15.6px;
  font-style: italic;
  color:#4d4d4c;
}
#load-more-container{
  width:auto;
  max-width: max-content;
  margin:0 auto;
}
.main-blog #load-more {
 background-color:#566268;
  color: #fff;
  font-size:15.6px;
  font-style:italic;
  padding: 5px 31.2px;
  border: none;
}

.blog__option-wrapper{
  position:relative;
  max-width: 220px;
  width: 100%;
}
.blog__title{
  font-size:18.2px;
  color:#666668;
  cursor: pointer;
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: end;
}
.blog__options{
  position: absolute;
  z-index: 1;
  top: 38px;
  right: 0;
  padding: 10px 0;
  background: #f2f2f2;
  display:none;
  width: 100%;
}
.blog__option {
    list-style: none;
}
.blog__option a {
    text-decoration: none;
    font-size: 16.53px;
    color: #666668;
    padding: 10px 35px;
    display: block;
}
.blog__option-wrapper.active .blog__options{
  display:block;
}
.blog__option-wrapper.active .blog__title .svg-wrapper{
  transform: rotate(180deg);
}
.blog__option a:hover{
  background-color:#566167;
  color:#ffffff;
}
@media(max-width:991px){
  .blog-articles{
  grid-template-columns: 1fr 1fr ;
}
 .blog-articles .card__inner {
    height: 25vw;
 }
}
@media(max-width:575px){
  .main-blog.page-width {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .blog-articles{
  grid-template-columns: 1fr ;
}
 .blog-articles .card__inner {
    height: 50vw;
 }
 .main-blog .title__main-wrapper {
    gap:15px;
    flex-wrap: wrap;
 }
 .blog__title {
    justify-content: flex-start;
}
}